<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

  <header class="mdl-layout__header">
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </header>



  <main class="mdl-layout__content">
    <div class="page-content">
      <div class="acme-card-wide mdl-card mdl-shadow--2dp">
        <!-- Expandable Textfield -->
        <form action="#">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" ng-model="search" ng-change="change()" onclick="select()" id="sample6" autofocus>
              <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
            </div>
          </div>
        </form>
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">'Allo, 'Allo!</h2>
        </div>
        <div class="mdl-card__supporting-text">
          Look above there is a search button !
          {{testing}}
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            i dont do shit !
          </a>
        </div>

      </div>


      <div class="mdl-grid">

        <div class="mdl-cell mdl-cell--4-col" ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
          <div class="acme-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
              <h2 class="mdl-card__title-text">{{ awesomeThing.title }}</h2>
            </div>
            <div class="mdl-card__media">
              <img ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
            </div>
            <div class="mdl-card__supporting-text">
              {{ awesomeThing.description }}
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-href="{{ awesomeThing.url }}">
                Website
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </main>

  <footer class="mdl-mini-footer">
    <div class="mdl-mini-footer__right-section">
      <div class="mdl-logo">
        With ♥ thanks to the contributions of<acme-malarkey extra-values="['Yeoman', 'Gulp', 'Angular']"></acme-malarkey>
      </div>
    </div>
  </footer>

</div>
